@media screen and (max-width: 768px) {
  .home-main {
    width: 100%;
    height: 57rem;
    background-size: 100% 100%;
    line-height: normal;
    background-image: url('../../static/images/home/phone_background.png');
    position: relative;
    .home-logo-img-pc {
      display: none !important;
    }
    .home-logo-img-phone {
      display: initial !important;
      width: 50%;
      margin-top: 1rem;
    }
    .nav-bar {
      display: none;
    }
    .view-sub-left-content,
    .view-sub-right-content {
      width: 100%;
      background-image: url('../../static/images/home/content_bg.png');
      background-position: center top;
      height: 25rem;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      padding-top:5rem;
    }
    .txt-sub-title {
      font-size: 1rem;
      color: black;
      font-weight: bold;
      text-align: center;
      width: 60%;
      margin-left: 19%;
      margin-right: 21%;
    }
    .txt-sub-desc {
      font-size: 0.8rem;
      color: black;
      font-weight: normal;
      text-align: center;
      width: 60%;
      margin-left: 19%;
      margin-right: 21%;
      overflow-y: auto;
      height: calc(100% - 9.75rem);
      padding-top:1rem;
    }
    .pc-google-play {
      display: none;
    }
    .phone-google-play {
      display: initial;
      width: 100%;
      height:100%;
      cursor: pointer;
    }
    .btn-google-desc-txt {
      width: 85%;
      font-size: 0.55rem;
      font-weight: bold;
      text-align: left;
      margin-left: auto;
      margin-right: auto;
    }
    .black-box {
      width: 64%;
      margin-left: 17%;
      margin-right: 19%;
      background-color: black;
      display: flex;
      height: 3rem;
      margin-top: 1rem;
    }
    .home-content {
      width: 100%;
      height: auto;
    }
    .btn-desc-txt {
      width: 90%;
      font-size: 10px;
      font-weight: bold;
      text-align: left;
      margin-left: auto;
      margin-right: auto;
    }
    .btn-desc {
      width: 50%;
      text-align: center;
      color: white;
      display: flex;
      text-align: center;
      align-items: center;
    }
    .sub-content {
      width: 100%;
    }
    .login-btn {
      width: 40%;
      margin-right: 5%;
      margin-left: 5%;
      text-align: center;
      background-image: url('../../static/images/home/register_btn.png');
      background-size: 100% 100%;
      font-size: 10px;
      font-weight: bold;
      cursor: pointer;
      height: 50%;
      display: flex;
      align-items: center;
      div {
        width: 100%;
        text-align: center;
      }
      button{    
        font-size: 1rem;
        font-weight: bold;
      }
    }
    .bottom-nav {
      position: absolute;
      width: 100%;
      bottom: 0;
      .bottom-content {
        display: flex;
        width: 270px;
        margin-left: auto;
        margin-right: auto;
        button {
          padding: 0;
          min-width: unset;
          font-size: 13px;
        }
        img {
          height: 40px;
        }
      }
    }
  }
}
@media screen and (min-width: 769px) {
  .home-main {
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    line-height: normal;
    background-image: url('../../static/images/home/background1.png');
    .home-logo {
      width: 100%;
      text-align: center;
      .home-logo-img-pc {
        display: initial;
      }
      .home-logo-img-phone {
        display: none;
      }
    }
    .nav-bar {
      display: block;
    }
    .view-sub-left-content,
    .view-sub-right-content {
      width: 65%;
      margin-left: 0;
      margin-right: 0;
      background-image: url('../../static/images/home/content_bg.png');
      background-position: center top;
      height: 100%;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      padding-top:12%;
    }
    .view-sub-left-content {
      margin-left: 30%;
      margin-right: 5%;
    }
    .view-sub-right-content {
      margin-left: 5%;
      margin-right: 30%;
    }
    .txt-sub-title {
      font-size: 1.4rem;
      color: black;
      font-weight: bold;
      text-align: center;
      width: 60%;
      margin-left: 19%;
      margin-right: 21%;
    }
    .txt-sub-desc {
      font-size: 1rem;
      color: black;
      font-weight: normal;
      text-align: center;
      width: 60%;
      margin-left: 19%;
      margin-right: 21%;
      overflow-y: auto;
      height: calc(100% - 15rem);
      padding-top:1rem;
    }
    .pc-google-play {
      display: initial;
      width: 100%;
    }
    .phone-google-play {
      display: none;
    }
    .btn-google-desc-txt {
      width: 85%;
      font-size: 0.9rem;
      font-weight: bold;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }
    .black-box {
      width: 64%;
      margin-left: 17%;
      margin-right: 19%;
      background-color: black;
      display: flex;
      height: 5rem;
      margin-top: 1rem;
    }
    .home-content {
      width: 100%;
      height: 70%;
      display: flex;
    }
    .btn-desc-txt {
      width: 90%;
      font-size: 14px;
      font-weight: bold;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }
    .btn-desc {
      width: 50%;
      text-align: center;
      color: white;
      display: flex;
      text-align: center;
      align-items: center;
    }
    .sub-content {
      width: 50%;
      height: 100%;
    }
    .login-btn {
      width: 40%;
      margin-right: 5%;
      margin-left: 5%;
      text-align: center;
      background-image: url('../../static/images/home/register_btn.png');
      background-size: 100% 100%;
      cursor: pointer;
      height: 50%;
      display: flex;
      align-items: center;
      div {
        width: 100%;
        text-align: center;
      }
      button{    
        font-size: 1rem;
        font-weight: bold;
      }
    }
    .bottom-nav {
      position: absolute;
      width: 100%;
      bottom: 0;
      .bottom-content {
        display: flex;
        width: 25%;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}
